<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form class="" action="/" method="post">
        ID: <input type="text" name="username" value="">
        PW: <input type="password" name="userpw" value="">
        <input type="submit" value="ログイン">
    </form>

  </body>
</html>
