<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="">登録は完了しました。</div>

    <p>
        <a href="/">トップページへ</a>
    </p>
    <p>
        <a href="/search">検索ページへ</a>
    </p>
</body>
</html>