<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form class="" action="/confirm" method="post">
          <div>名前</div>
           <input type="text" name="name" value="">
          <div> e-mail</div>
          <input type="email" name="email" value="">
          <div>コメント</div>
          <textarea name="comment" rows="8" cols="40"></textarea>
          <br>
          <input type="submit" value="送信">
      </form>
      <br>
      <br>
      <a href="/search">fdsa</a>
  </body>
</html>
