<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    名前
    <input type="text" name="name" value="" id="input-text">
    <button type="button" name="button" id="search-btn">検索</button>
    <hr>
    <div id="list">

    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
</body>
</html>