<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/client.js"></script>
    </head>
    <body>
        <h2>
            <% if(message) {%>
                    <%= message %><br>
            <% } %>
        </h2>
        <div>
            名前:<input type="text" name="name" id="user-name">
            <input type="submit" name="submit" value="送信" id="name-send">
        </div>
    </body>
</html>