<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <input type="text" name="name" value="" id="input-text">
    <button type="button" name="button" id="send-btn">送信</button>
    
    
    <div id="output-area">
        
    </div>
    
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
